<div class="login-form-container">
  <div class=login-form>
    <%= form_tag create_session_path do %>
      <div class="form-row">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
      </div>
      <div class="form-row">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="submit-row">
        <div id="login-link"><%= link_to 'Login', '#' %></div>
      </div>
    <% end -%>
  </div>
</div>
